*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color:#f2f2f2;
    /* padding: 5px 20px 15px 20px; */
    border: 1px solid lightblue;
    border-radius: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"]
select,
textarea{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.main_heading{
    text-align: center;
    margin: 0;
    background-color: greenyellow;
    color: white;
    padding: 10px;
}
input[type="submit"]
{
    background-color:rgba(85, 150, 128, 0.8);
    color: #ccc;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.form-body {
    padding: 0 20px 15px 20px;
}